body {
    background-color: blueviolet;
    margin: 0;
}

.box {
    width: 300px;
    height: 400px;
    background: linear-gradient(transparent,#000);
    /*radial-gradient*/
    margin: 0;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid #900;
}

h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}