body {
    margin: 0;
}

.box {
    width: 100px;
    height: 100px;
    background: rgb(80, 6, 149); /*#98a*/
    margin: 10px;
}

.box-default {
    box-sizing: border-box;
    padding: 25px;
    border: 10px solid black;
}

.box-new {
    box-sizing: border-box;
    padding: 25px;
    border: 10px solid black;
}

