body {
    font-size: 40px;
    margin: 0;
}

div {
    background: #ededed;
    padding: 2px;
    font-family: sans-serif;
    border-left: 5px solid #999;
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 23px;
}

span {
    color: #999;
    font-size: 16px;
    font-weight: 100;
    font-size: 1em;
}

p {
    color: #555;
    font-size: 1em;
}

/*px,cm,mm,in,%,em,rem,vh,vw,vmax,vmin*/