body {
    margin: 0;
}

.box {
    width: 280px;
    background: #e2e2e2;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 40px 0px #0007;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #444;
    text-align: center;
}

h2 {
    text-shadow: 0 0 12px #f88;
    font-size: 20px;
    margin-top: 5px;
    color: #999;
    letter-spacing: 5px;
    font-weight: 100;
    text-shadow: 0 0 1px #f82;
}

p {
    list-style: none;
    text-align: justify;
    line-height: 1.4;
    font-size: 14px;
    text-shadow: 0 0 5px #f88;
}

img {
    width: 160px;
    border-radius: 100%;
    box-shadow: 0 0 10px 1px #000;
    /*filter: drop-shadow (para png)*/
}