body {
    background-color: #48e;
    margin: 0;
    font-family: sans-serif;
}

.box {
    width: 100%;
    height: 500px;
    margin: 20px;
    margin: 0;
    /*background-color: #6ffa;
    background-size: cover;
    /*background-size: contain;*/
    /*background-position: top;
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;
    /* scroll*/
    background: url("https://cdn-icons-png.flaticon.com/512/1088/1088537.png") top / cover fixed #6fa;
}

.opaco {
    height: 100%;
    width: 100%;
    background-color: #000a;
}

h2 {
    padding: 20px;
    text-align: center;
}