@font-face {
    font-family: "Dancing-Script";
    src: url("fonts/DancingScript-Regular.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Dancing-Script";
    src: url("fonts/DancingScript-SemiBold.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Dancing-Script";
    src: url("fonts/DancingScript-Bold.ttf") format("truetype");
    font-weight: 900;
}
