.box {
    padding: 20px 50px;
    background: rgb(87, 4, 129);
    background: #7b04cb;
    background: hsl(hue, saturation, lightness);
    margin: 20px;
    margin-left: 150px;
    text-align: center;
    color: hsl(285, 48%, 10%);
    border-bottom:2px solid hsl(286, 56%, 15%);
    border-top:2px solid hsl(286, 56%, 15%);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/*rgba color picker si quiero una pagina para ver mas a detalle los colores*/
/*hue color picker*/
/*hexadecimal color picker*/
/*html color codes para ver todos los colores en todos sus tipos*/

