p{
    color:red;
    font-family: 'Dancing-Script';
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    line-height: 1.3;
    letter-spacing: 1px;
}

h1{
    text-align: center;
}

span{
    text-decoration: line-through;
    color: brown;
}

/* Comentario */